html,body {
  margin:0;
  padding:0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

.page_container {
  margin:auto;
  padding-left: 20px;
  padding-right: 20px;
}

.min900 {
  min-width: 900px;
}

.pointer_cursor {
  cursor: pointer;
}

.collapse_section {
  background-color: #eee;
  color:#229dff;
  font-size: 24px;
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: left;
}

.collapse_section:hover {
  background-color: #999;
  color:#fff;
}

.p_font18 {
  font-size:18px;
}

.data_table_frame {
  width: 100%;
  overflow: scroll;
}

.width900 {
  max-width:900px; 
  margin:auto;
}
  
.margin-20 {
  margin: 20px;
}

.zoom-img {
  transition: transform 0.3s ease;
}

.zoom-img:hover {
  transform: scale(1.05);
}

.link {
  color: #bc360a;
}

.hover:hover {
  color: #ea9629;
}

.solid {
  border-style: solid;
  border-width: 2px;
  border-color: #064d0f;
}

.solid2 {
  border-style: solid;
  border-width: 4px;
  border-color: forestgreen;
  border-radius: 8px;
}

.select {
  margin:auto;
  margin-bottom:20px;
}

.image {
  background-color:#fff;
}

.image:hover {
  background-color:#203d0033;
}

.species_img {
  object-fit: contain;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.navbar {
  background: linear-gradient(60deg, #111111, #963);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
    color: white !important;
}

.navbar .dropdown-menu {
    background-color: #741;
}

.navbar .dropdown-menu .dropdown-item {
    color: white !important;
}

.navbar .dropdown-item:hover {
    background-color: #974;
}

.sequence_blast_box {
  border-radius: 0.25rem !important;
  border: 1px solid #ced4da !important;
}

.blast_box {
  border-radius: 0.25rem !important;
  border: 1px solid #ced4da !important;
}

.sequence_box {
  border-radius: 0.25rem !important;
  border: 1px solid #ced4da !important;
}

.dropbtn {
  background-color: #203d00 !important;
  }

.dropbtn:hover {
  background-color: darkgreen !important;
}